body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
}

.thongtin {
    text-align: center;
}

.profile-image {
    display: block;
    margin: 0 auto;
    width: 200px; /* Thay đổi kích thước theo ý muốn */
    height: auto; /* Giữ tỷ lệ khung hình */
}

nav {
    background-color: #333;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav .logo {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    color: #fff;
    border-radius: 4px;
}